= stylesheet_link_tag    'editor',         :media => 'all'
= stylesheet_link_tag    'content',        :media => 'all'
= stylesheet_link_tag    'lib/codemirror', :media => 'all'
= stylesheet_link_tag    'lib/ambiance',   :media => 'all'

= javascript_include_tag 'lib/marked'
= javascript_include_tag 'lib/codemirror/codemirror'
= javascript_include_tag 'lib/codemirror/modes/markdown'
= javascript_include_tag 'lib/codemirror/addon/selection/active-line'
= javascript_include_tag 'lib/codemirror/addon/selection/mark-selection'
