!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{ :name => "keywords", :content => "TODO" }
    %meta{ :name => "description", :content => "TODO" }
    %meta{ :name => "viewport", :content => "" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1" }
    %title Writing.is
    = javascript_include_tag '//use.typekit.net/kco6ydm.js'
    = javascript_include_tag 'lib/jquery-1.9.1.min.js'
    
    :javascript
      try{Typekit.load();}catch(e){}

    = stylesheet_link_tag 'reset', :media => 'all'
    = stylesheet_link_tag 'global', :media => 'all'
    = stylesheet_link_tag 'styles', :media => 'all'
    = render_partial 'shared/editor_header' if page_slug == 'editor'

    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    %link{ :href => "/images/icon.jpg", :rel => "apple-touch-icon" }

  %body{:class => page_slug }
    .container
      .content
        = yield if block_given?
    = render_partial 'shared/ga'
